.container {
    padding: 30px;
    margin-top: 50px;
}

.background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.login-header {
    text-align: center;
    padding-bottom: 20px;
}

.text-field {
}

