<video id="video" autoplay muted loop playsinline class="background">
  <source src="assets/login-background.mp4" type="video/mp4">
</video>

<div class="background" fxLayout="column" fxLayoutAlign="center">
  <div fxLayout="row" fxLayoutAlign="center">
      <mat-card fxLayout="column" fxLayoutAlign="center" class="container">
        <h2 class="login-header" >Welcome</h2>
        <mat-form-field required appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput (change)="username=$event.target.value"/>
        </mat-form-field>
        <mat-form-field required appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" (change)="password=$event.target.value">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onLogin()">Login</button>
      </mat-card>
  </div>
</div>