<div class="main">
    <div class="toolbar">
        <mat-toolbar color="primary" [style.height.px]="64" >
            <app-top-bar></app-top-bar>
        </mat-toolbar>
        <mat-progress-bar mode="indeterminate" *ngIf="isBusy"></mat-progress-bar> 
    </div>
    <mat-sidenav-container class="main-content" autosize>
        <mat-sidenav
            class="sidebar"
            [fixedTopGap]="64"
            [fixedInViewport]="true"
            [opened]="isOpen"
            [mode]="isMobile ? 'over' : 'side'"
        >
            <h2>Tim's Homeserver</h2>
            <mat-divider></mat-divider>
            <app-side-bar></app-side-bar>
        </mat-sidenav>
        <mat-sidenav-content fxLayout="row" class="router-content" fxLayoutAlign="center">
            <div fxLayout="column" fxFlexFill>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>