.toolbar {
    z-index: 7;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.main-content {
    top: 64px;
    min-height: 100%;
}

.sidebar {
    padding: 20px;
}

.router-content {
    padding: 20px;
}

.main {
    height: 100vh;
}