<mat-chip-listbox class="file-nav">
    <mat-chip class="chip" [highlighted]="reqPath.length === 0" routerLink="/home/files">
        <mat-icon matChipAvatar>folder</mat-icon>
        Home
    </mat-chip>
    <mat-chip *ngFor="let part of reqPath; last as isLast" [highlighted]="isLast" [routerLink]="getRouterLinkFromDir(part)"
        class="chip">
        {{part.toString()}}
    </mat-chip>
</mat-chip-listbox>
<mat-list [multiple]="false">
    <mat-list-item *ngFor="let file of visibleFiles" (click)="navigateToFileUrl(file)">
        <div matListItemIcon>
            <img class="list-image" [src]="'/assets/icons/' + file.type + '.png'" />
        </div>
        <div>
            <div fxFlex class="file-info">
                <div mat-line>{{file.name}}</div>
                <div mat-line>{{file.timestamp}}</div>
            </div>
            <div fxLayoutAlign="center">
                <button (click)="$event.stopPropagation()" mat-icon-button [matMenuTriggerFor]="optionsMenu" title="More info">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #optionsMenu>
                    <button mat-menu-item (click)="onRenameFile(file)">
                        <mat-icon>edit</mat-icon>
                        <span>Rename</span>
                    </button>
                    <!-- <mat-list-item (click)="onMoveFile($event, file)">Move</mat-list-item> -->
                    <button mat-menu-item (click)="onDeleteFile(file)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </mat-list-item>
</mat-list>
<button fxFlexAlign="center" class="show-more" *ngIf="this.maxFilesShown < this.files.length"
    (click)="onShowMoreFiles()" mat-button>Show More</button>
<div fxLayout="column" fxLayoutGap="20px" class="floating-buttons">
    <button mat-fab color="primary" [matMenuTriggerFor]="searchMenu">
        <mat-icon>search</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="openUploadDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>
<mat-menu #searchMenu xPosition="before">
    <div mat-menu-item fxLayout="row" (click)="$event.stopPropagation()">
        <mat-form-field appearance="fill">
            <mat-label>Search</mat-label>
            <input matInput [(ngModel)]="searchQuery" >
        </mat-form-field>
    </div>
</mat-menu>