.list-image {
    height: 32px;
    width: 32px;
}

.file-nav {
    padding: 15px 0 15px 0;
    flex-wrap: nowrap;
    overflow: auto;
}

.chip {
    flex-grow: 0;
    flex-shrink: 0;
}

.upload-button {
    margin: 64px;
    position: fixed;
    bottom: 0;
    left: calc(100% - 184px);
}

.show-more {
    padding: 20;
}

.file-name {
    text-overflow: ellipsis;
}

.file-info {
    max-width: calc(100% - 40px);
}