.list-image {
    height: 32px;
    width: 32px;
    margin-right: 20px;
}

.file-nav {
    padding: 15px 0 15px 0;
    flex-wrap: nowrap;
    overflow: auto;
}

.chip {
    flex-grow: 0;
    flex-shrink: 0;
}

.upload-button {
    padding: 64px;
    position: fixed;
    bottom: 100vh;
    right: 100vw;
}

.show-more {
    padding: 20;
}