$mdc-theme-primary: #1565c0; // primary color
$mdc-theme-secondary: #388e3c; // secondary color
// $mdc-theme-surface: rgb(28, 28, 28);
// $mdc-theme-background: $mdc-theme-surfase;
body {
    margin: 0px;
    // background-color: $mdc-theme-surface;
}
@import "~@angular-mdc/theme/material";
