language: node_js
node_js:
  - 12.9.1
add_ons:
  ssh_known_hosts: hansonserver.ddns.net
cache:
  directories:
    server/node_modules
    client/node_modules

jobs:
  include:
    - stage: install
      name: "Install server dependencies"
      script: 
        - cd server
        - npm install
    - stage: install
      name: "Install client dependencies"
      script:
        - cd client
        - npm install
    - stage: build
      name: "Build"
      script:
        - cd server
        - npm run build
        - cd ../client
        - npm run build:prod
    - stage: build
      name: "Run tests"
      script:
        - cd server
        - npm run test
    - stage: deploy
      # if: branch = master
      name: "Deploy"
      script: 
        - openssl aes-256-cbc -K $encrypted_4d05b4a1e601_key -iv $encrypted_4d05b4a1e601_iv -in deploy_rsa.enc -out deploy_rsa -d
        - eval "$(ssh-agent -s)"
        - chmod 600 deploy_rsa
        - ssh-add deploy_rsa
        - ./bin/deploy.sh