language: node_js
node_js:
  - 12.9.1
cache:
  directories:
    server/node_modules
    client/node_modules

jobs:
  include:
    - stage: install
      name: "Install server dependencies"
      script: 
        - cd server
        - npm install
    - stage: install
      name: "Install client dependencies"
      script:
        - cd client
        - npm install
    - stage: build
      name: "Build server"
      script:
        - cd server
        - npm run build
    - stage: build
      name: "Build client"
      script:
        - cd client
        - npm run build:prod
    - stage: build
      name: "Run tests"
      script:
        - cd server
        - npm run test
    - stage: deploy
      # if: branch = master
      name: "Deploy"
      script: 
        - ./bin/build.sh
        - cd dist
        - tar zcf homeserver.tar.gz *
        - ls .