language: node_js
node_js:
  - 12.9.1
cache:
  directories:
    build
    server/node_modules
    client/node_modules

jobs:
  include:
    - stage: install
      name: "Install server dependencies"
      script: 
        - cd server
        - npm install
    - stage: install
      name: "Install client dependencies"
      script:
        - cd client
        - npm install
    - stage: build
      name: "Build project"
      script: 
        - ./bin/install.sh
        - mkdir build
        - tar zcvf build/homeserver.tar.gz dist
    - stage: build
      name: "Run tests"
      script:
        - cd server
        - ls node_modules
        - npm run test
        - cd ..
    - stage: deploy
      name: "Deploy"
      script: ls build