<h2>Search Torrents</h2>
<div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start">
    <mat-form-field class="query" fxFlex appearance="fill">
        <mat-label>Query String</mat-label>
        <input matInput [(ngModel)]="query" placeholder="Ex. 'The Office'">
    </mat-form-field>
    <div fxLayout="column" fxLayoutAlign="center">
        <mat-button-toggle-group [(ngModel)]="selectedCategory">
            <mat-button-toggle *ngFor="let category of categoryOptions" [value]="category">
                {{ category }}
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div fxLayout="column" fxLayoutAlign="center">
        <button mat-raised-button color="primary" (click)="onTorrentSearch()">Search</button>
    </div>
</div>
<mat-divider class="divider"></mat-divider>
<mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let torrent of torrents" (click)="navigateToUrl(torrent.download)">
        <div>
            <div fxFlex class="torrent-info">
                <div mat-line>{{torrent.title}}</div>
                <div mat-line>{{torrent.seeders}} Seeders,   {{torrent.size | fileSize }}</div>
            </div>
            <div fxLayoutAlign="center">
                <button (click)="$event.stopPropagation()" mat-icon-button [matMenuTriggerFor]="optionsMenu" title="More info">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #optionsMenu>
                    <button mat-menu-item (click)="copyLinkToClipboard(torrent)">Copy Link</button>
                    <!-- <mat-list-item (click)="onMoveFile($event, file)">Move</mat-list-item> -->
                    <button mat-menu-item disabled>Add</button>
                </mat-menu>
            </div>
        </div>
    </mat-list-option>
</mat-selection-list>
<p *ngIf="torrents.length === 0">
    No results.
</p>