<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface>
      <mdc-dialog-title>Settings</mdc-dialog-title>
        <mdc-dialog-content>
          <mdc-tab-bar #tabBar [activeTabIndex]="0">
            <mdc-tab-scroller>
              <mdc-tab label="General" icon="settings"></mdc-tab>
              <mdc-tab label="Updates" icon="update"></mdc-tab>
            </mdc-tab-scroller>
          </mdc-tab-bar>
          <div *ngIf="tabBar.activeTabIndex === 0">
            <mdc-form-field>
              <mdc-checkbox #showHiddenFiles (change)="onShowHiddenFilesToggle(showHiddenFiles.checked)"></mdc-checkbox>
              <label>Show hidden files</label>
            </mdc-form-field>
          </div>
          <div *ngIf="tabBar.activeTabIndex === 1">
            <mdc-list avatar singleSelection>
              <mdc-list-item #listItem *ngFor="let update of updatesAvailable" (click)="onSelectUpdate(update)">
                <mdc-icon mdcListItemGraphic>update</mdc-icon>
                {{ update }}
              </mdc-list-item>
            </mdc-list>
          </div>
        </mdc-dialog-content>
        <mdc-dialog-actions>
          <button mdcDialogButton mdcDialogAction="close">Cancel</button>
          <button *ngIf="tabBar.activeTabIndex === 0" mdcDialogButton default (click)="onSettingsSave()">Save</button>
          <button *ngIf="tabBar.activeTabIndex === 1" mdcDialogButton default (click)="onPerformUpdate()">Update</button>
        </mdc-dialog-actions>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>
