<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content>
  <mat-tab-group #tabBar>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>settings</mat-icon>
        General
      </ng-template>
      <div fxLayout="column" fxLayoutGap="20px">
        <mat-checkbox #showHiddenFiles (change)="onShowHiddenFilesToggle(showHiddenFiles.checked)">
          Show Hidden Files
        </mat-checkbox>
        <mat-slide-toggle #darkModeSwitch (change)="onUseDarkModeToggle(darkModeSwitch.checked)">
          Use Dark mode
        </mat-slide-toggle>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>update</mat-icon>
        Updates
      </ng-template>
      <div fxLayout="column" fxLayoutGap="20px">
        <mat-selection-list [multiple]="false">
          <mat-list-option #listItem *ngFor="let update of updatesAvailable" (click)="onSelectUpdate(update)">
            <mat-icon mat-list-icon>update</mat-icon>
            {{ update }}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button *ngIf="activeTab === 0" mat-button mat-dialog-close (click)="onSettingsSave()">Save</button>
  <button *ngIf="activeTab === 1" mat-button mat-dialog-close (click)="onPerformUpdate()">Update</button>
</mat-dialog-actions>