.library-grid {
    column-width: 225px;
    column-gap: 16px;
}

.card {
    width: 100%;
    margin: 0 0 16px;
    display: inline-block;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    vertical-align: top;
}

.description {
    padding: 20px;
    max-height: 200px;
    overflow: auto;
}

.upload-button {
    margin: 32px;
    position: fixed;
    bottom: 0;
    left: calc(100% - 120px);
}

.content {
    padding: 20px;
}

:host ::ng-deep app-lazy-img.cover-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep app-lazy-img.cover-image .spinner {
    min-height: 0;
    width: 100%;
}

:host ::ng-deep app-lazy-img.cover-image .image {
    width: 100%;
    display: block;
}

@media (max-width: 520px) {
    .library-grid {
        column-width: 100%;
    }
}
