@import '~@angular-mdc/theme/material';

.masonry-image-list {
    padding-top: 50px;
    @include mdc-image-list-masonry-columns(4);
}
  
@media (max-width: 1499px) {
    .masonry-image-list {
        @include mdc-image-list-masonry-columns(3);
    }
}

@media (max-width: 599px) {
    .masonry-image-list {
        @include mdc-image-list-masonry-columns(1);
    }
}

.card {
    width: 300px;
}

.book-description {
    @include mdc-menu-surface-shape-radius(5px);
    width: 200px;
}