.card {
    width: 250px;
    margin-bottom: 10px;
}

.description {
    padding: 20px;
    max-height: 200px;
}

.upload-button {
    margin: 32px;
    position: fixed;
    bottom: 0;
    left: calc(100% - 120px);
}

.content {
    padding: 20px;
}