<mat-grid-list rowHeight="fit" cols="4" class="masonry-image-list">
  <mat-grid-tile
    *ngFor="let ebook of ebooks"
    [colspan]="1"
    [rowspan]="1"
  >
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{ ebook.name }}</mat-card-title>
        <mat-card-subtitle>{{ ebook.author }}</mat-card-subtitle>
      </mat-card-header>
      <img class="card-image" [src]="ebook.relativeCoverPath" />
      <mat-card-actions>
          <div matMenuSurfaceAnchor #descriptionAnchor>
            <button mat-button [matMenuTriggerFor]="demoSurface">Description</button>
            <mat-menu #demoSurface class="book-description" [innerHtml]="ebook.description || 'No description provided.'">
            </mat-menu>
          </div>
            <div matListItemMeta matMenuSurfaceAnchor #optionsAnchor>
              <button
                #optionsButton
                mat-icon-button
                aria-label="View more"
                title="More info"
                [matMenuTriggerFor]="optionsMenu"
              >
              <mat-icon>
                more
              </mat-icon>
              </button>
              <mat-menu #optionsMenu>
                <mat-list>
                  <mat-list-item class="options-item" (click)="onDeleteFile($event, ebook)">Delete</mat-list-item>
                  <mat-list-item class="options-item">Resend to kindle</mat-list-item>
                </mat-list>
              </mat-menu>
            </div>
        </mat-card-actions>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<button mat-fab position="bottomRight" icon="add" (click)="onUploadClick()"></button>