<html>
    <%- include('/_head', { title: 'Home', controller: 'home', scripts: [], stylesheets: ['home']}) %>
    <body>
        <%- include('/_navbar', { page: 'home' }) %>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4"> Home Server</h1>
                <p class="lead">Files, backup, syncing, and more</p>
            </div>
        </div>
        <div id="apps">
            <% cards.forEach((card) => { %>
                <%- include('_card', { card }) %>
            <% }); %>
        </div>
    </body>
</html>