<h2 mat-dialog-title>Upload Files</h2>
<mat-dialog-content>
  <mat-list twoLine>
      <mat-list-item *ngFor="let file of files">
          <div fxFlex>
            <div mat-line class="file-title">{{file.name}}</div>
            <div mat-line>{{ getFileSize(file.size) }}</div>
          </div>
          <div fxLayoutAlign="center">
            <button mat-icon-button class="delete-icon" (click)="onDeleteFile(file)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
      </mat-list-item>
  </mat-list>
  <div class="menu-content" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
    <input id="files" type="file" class="file-input" (input)="onFileInput($event)" multiple>
    <label button for="files">
        Add a file...
    </label>
    <mat-checkbox *ngIf="uploadService === uploadServiceEnum.Ebooks" #sendToKindle (change)="onSendToKindleInput(sendToKindle.checked)">
      Send To Kindle
    </mat-checkbox>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button form="uploadForm" type="submit" mat-dialog-close (click)="onUploadFiles()">Upload</button>
</mat-dialog-actions>
