<mat-list>
  <mat-list-item (click)="onNavigatePage()" routerLink="/home/files">
    <mat-icon matListItemIcon>folder</mat-icon>
    <div matListItemTitle>Files</div>
  </mat-list-item>
  <mat-list-item (click)="onNavigatePage()" routerLink="/home/ebooks">
    <mat-icon matListItemIcon>book</mat-icon>
    <div matListItemTitle>Ebooks</div>
  </mat-list-item>
  <mat-list-item (click)="onNavigatePage()" routerLink="/home/torrents">
    <mat-icon matListItemIcon>download</mat-icon>
    <div matListItemTitle>Torrents</div>
  </mat-list-item>
  <mat-list-item (click)="onNavigatePage()" routerLink="/home/health">
    <mat-icon matListItemIcon>favorite</mat-icon>
    <div matListItemTitle>Health</div>
  </mat-list-item>
  <mat-list-item (click)="onOpenSettings()">
    <mat-icon matListItemIcon>settings</mat-icon>
    <div matListItemTitle>Settings</div>
  </mat-list-item>
</mat-list>