$mdc-theme-primary: #1565c0; // primary color
$mdc-theme-secondary: #388e3c; // secondary color
body {
    margin: 0px;
}

@import "@angular-mdc/theme/material";

.text {
    color: $mdc-theme-on-surface;
}