name: Build

# Run this workflow every time a new commit pushed to your repository
on: push

jobs:
  install:
    name: Install dependencies 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v2
        id: restore-dependencies-cache
        with:
          path: |
            server/node_modules
            client/node_modules
            server/dist
            client/dist
          key: ${{ github.sha }}

      - name: Download server dependencies 
        working-directory: server
        run: npm install

      - name: Download client dependencies 
        working-directory: client
        run: npm install
  
  build:
    name: Build project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        id: restore-dependencies-cache
        with:
          path: |
            server/node_modules
            client/node_modules
            server/dist
            client/dist
          key: ${{ github.sha }}

      - name: Build client
        working-directory: client
        run: npm run build

      - name: Build server
        working-directory: server
        run: npm run build

